---

---
<header class='p-4 prose-a:no-underline'>
  <div class='flex justify-between items-center p-2'>
    <div class='flex'>
      <a href='/' class='px-4  rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600'>Inicio</a>
      <a href='/category/primer-parcial' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Primer Parcial</a>
      <!-- <a href='/category/segundo-parcial' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Segundo Parcial</a>
      <a href='/category/tercer-parcial' class='px-4 py-2 rounded hover:bg-neutral-200 dark:hover:bg-neutral-600'>Tercer Parcial</a> -->
    </div>
  </div>
</header>