---
---
<div class="cover-page">
<h1>¡Bienvenido Antonio!</h1>
<p>En este blog se encuentra todos los temas vistos en clase, enterate y aprende sobre las redes de internet de las computadoras desde lo basico hasta lo profesional</p>
</div>
<style>
.cover-page{
text-aligh:center;
max-width:648px;
margin:0 auto;
}
p{
font-size:19px;
}
</style>
